@import "tailwindcss";

@keyframes wave {
    0%, 100% {transform: translateY(0px);}
    50% {transform: translateY(-2.5px);}
}

@keyframes expand {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

.wave {
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.expand {
    animation-name: expand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}